###############################
# Core EditorConfig Options for tests  
###############################
root = false
# Test classes and est methods often use underscores and according to microsoft this is OK
[*.cs]
dotnet_diagnostic.CA1707.severity = none



